<div class="header">
    <h1 class="site-header">BLOG SITE</h1>
    <H4 class="site-subheader">A--LOREM IPSUM SITE</H4>
    <nav>
        <a href="/">BLOGS</a>
        <a href="/about">ABOUT</a>
        <a href="/blog">NEW BLOG</a>
    </nav>
</div>