<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 | <%= title %> </title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/404.css">
    <link rel="stylesheet" href="/sevsev.css">
</head>
<body>
    <%- include('./partials/header.ejs') %>

        <div class="fourofour">
            <div class="digit1">
                <div class="adam">4</div>
            </div>
            <div class="digit2">
                <div class="adam">0</div>
            </div>
            <div class="digit3">
                <div class="adam">4</div>
            </div>
        </div>
        <div class="border">
            <h3>Page Not Found</h3>
        </div>


        <%- include('./partials/footer.ejs') %>
</body>
</html>