<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Site | <%= title %></title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <%- include('./partials/header.ejs') %>
    
    <form action="">
        <label for="title">Blog Title:</label>
        <input type="text" size="35" id="title">
        <label for="title">Blog Snippet:</label>
        <!-- <input type="text" size="35" id="snippet"> -->
        <input type="text" id="snippet">
        <label for="title">Blog Body:</label>
        <!-- <textarea id="body" cols="35" rows="6"></textarea> -->
        <textarea id="body" ></textarea>
        <input type="submit" class="btn" value="Submit">
    </form>
    
        
    <%- include('./partials/footer.ejs') %>


</body>
</html>